*
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Georgia", Times, Serif;
}

body
{
	width: auto;
	height: auto;
  background-color: #87CEEB;
}

header
{
	width: auto;
	height: auto;
	border: 3px solid black;
}

.entete
{
	font-family: "Georgia", sans-serif;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
}

.photo img
{
	margin-left: 25px;
	width: 150px;
	height: 150px;
	border: 2px solid black;
}

.nom
{
	text-align: center;
	font-family: "Georgia", Times, Serif;
}

nav
{
	text-align: center;
}
nav div ul li
{
	display: inline-block;
	text-decoration: none;
}

.profils
{
	text-align: center;
	font -family: "Georgia";
	border: 2px solid black;
	text-decoration: none;
	width: auto;
	height: auto;
}

aside
{
	text-decoration: none;
}
.diplomes
{
	text-decoration: none;
}

.competences
{
}

.commentaires
{
}

footer div p
{
	text-align: left;
}

footer div h5
{
	margin-right: 20px;
}
.pied
{
	text-align: center;
}
